@page
@model AdminDashModel
@{
    Layout = "_LayoutGerente";
    ViewData["Title"] = "Dashboard Gerente";
}

<div class="dash-page-content text-center">
    <h1 class="poppins-bold my-4">Dashboard</h1>
    <div class="dash-placeholder"></div>
</div>
