@page
@model DashboardModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="d-flex">
        <div class="flex-grow-1 p-4" style="background-color: #F6F4F1;">
            <form method="get">
                <div class="col-md-3">
                    <input type="date" class="form-control" asp-for="SelectedDate" onchange="this.form.submit()">
                </div>
            </form>

            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="card p-3 text-center">
                        <p class="fw-bold">Ingresos Totales</p>
                        <strong>$@Model.metricas.ingresos</strong>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 text-center">
                        <p class="fw-bold">Ganancia Neta Total</p>
                        <strong>$@Model.metricas.ganancias</strong>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 text-center">
                        <p class="fw-bold">Órdenes Totales</p>
                        <strong>$@Model.metricas.ordenes</strong>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 text-center">
                        <p class="fw-bold">Visitas Totales</p>
                        <strong>$@Model.metricas.visistas</strong>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card p-3">
                        <p class="fw-bold">Principales proveedores</p>
                        <img src="/images/pie-chart.jpg" class="img-fluid" alt="Pie Chart">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <p class="fw-bold">Ventas</p>
                        <img src="/images/bar-chart.jpg" class="img-fluid" alt="Bar Chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
