@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Reto</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Reto.styles.css" asp-append-version="true" />
    </head>
    <body>
        <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="signIn d-flex flex-column">
                <img src="~/img/logoOxxo.png" alt="logo_oxxo" class="logo mx-auto d-block mb-4">

                <form method="post">
                    <div class="myForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                            <input asp-for="correo" type="email" class="form-control formField" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                            <span class="text-danger" asp-validation-for="correo" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                            <input asp-for="contraseña"type="text" class="form-control formField" id="exampleFormControlInput2" placeholder="Contraseña">
                            <span class="text-danger" asp-validation-for="contraseña" class="text-danger"></span>
                        </div>
                        <div class="forgotPassword mb-4">
                            <a href="OlvideContra">Olvidé mi contraseña</a>
                        </div>
                        <div class="buttons text-center">
                            <button type="submit" asp-page-handler="IniciarSesion" class="btn btn-warning mb-3 ctaIS">Iniciar sesión</button>
                            <br>
                            <button type="submit" asp-page-handler="CrearCuenta" type="button" class="btn btn-warning ctaCC">Crear cuenta</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

