@page
@model IndexModel
@{
    ViewData["Title"] = "Sing Up";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Reto</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Reto.styles.css" asp-append-version="true" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content d-flex flex-column align-items-center justify-content-center poppins-regular">
        <div class="signIn d-flex flex-column">
                <img src="~/img/logoOxxo.png" alt="logo_oxxo" class="logo mx-auto d-block mb-4">

                <form method="post">
                    <div class="myForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
                            <input asp-for="nombre" type="text" class="form-control formField" id="exampleFormControlInput1" placeholder="usuario123">
                            <span class="text-danger" asp-validation-for="nombre" class="text-danger"></span>

                            @if(Model.messageNombre != null){
                                <span class="text-danger" asp-validation-for="nombre" class="text-danger">@Model.messageNombre</span>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                            <div class="passwordContainer">
                                <input asp-for="contraseña" type="password" class="form-control formField" id="exampleFormControlInput2" placeholder="Contraseña">
                                <img src="/images/passEye.png" alt="ojo" onclick="MostrarContrasena()" id="ojoContraseña">
                            </div>
                            <span class="text-danger" asp-validation-for="contraseña" class="text-danger"></span>

                            @if(Model.messageContra != null){
                                <span class="text-danger" asp-validation-for="contraseña" class="text-danger">@Html.Raw(Model.messageContra)</span>
                            }
                        </div>
                        <div class="forgotPassword mb-4">
                            <a href="OlvideContra">Olvidé mi contraseña</a>
                        </div>
                        <div class="buttons text-center">
                            <button type="submit" asp-page-handler="IniciarSesion" class="btn btn-warning mb-3 ctaIS">Iniciar sesión</button>
                            <br>
                            <button type="submit" asp-page-handler="CrearCuenta" type="button" class="btn btn-warning ctaCC">Crear cuenta</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function MostrarContrasena() {
                if (document.getElementById("exampleFormControlInput2").type === "password") {
                document.getElementById("exampleFormControlInput2").type = "text";
                document.getElementById("ojoContraseña").src = "/images/crossedPassEye.png";
                } else {
                    document.getElementById("exampleFormControlInput2").type = "password";
                    document.getElementById("ojoContraseña").src = "/images/passEye.png";
                }
            }
        </script>
    </body>
</html>

