@page
@model OlvideContraModel
@{
    ViewData["Title"] = "Home page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Reto</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Reto.styles.css" asp-append-version="true" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content d-flex flex-column align-items-center justify-content-center poppins-regular">
        <div class="signIn d-flex flex-column">
                <img src="~/img/logoOxxo.png" alt="logo_oxxo" class="logo mx-auto d-block mb-4">

                <form method="post">
                    <div class="myForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
                            <input asp-for="usuario" type="text" class="form-control formField" id="exampleFormControlInput1" placeholder="usuario123">
                            <span class="text-danger" asp-validation-for="usuario" class="text-danger"></span>
                            @if(Model.messageUsuario != null){
                                <span class="text-danger" asp-validation-for="usuario" class="text-danger">@Model.messageUsuario</span>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nueva contraseña</label>
                            <input asp-for="contra" type="text" class="form-control formField" id="exampleFormControlInput1" placeholder="Contra123">
                            <span class="text-danger" asp-validation-for="contra" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Confirmar contraseña</label>
                            <input asp-for="confirmaContra"type="text" class="form-control formField" id="exampleFormControlInput2" placeholder="Contra123">
                            <span class="text-danger" asp-validation-for="confirmaContra" class="text-danger"></span>
                            @if(Model.messageContra != null){
                                <span class="text-danger" asp-validation-for="usuario" class="text-danger">@Model.messageContra</span>
                            }
                        </div>
                        <div class="buttons text-center">
                            <button type="submit" asp-page-handler="Reestablecer" class="btn btn-warning mb-3 ctaRC">Reestablecer contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
