<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reto</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reto.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/81814e41f6.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex poppins-regular">
        <!-- Sidebar -->
        <div class="sidebar text-center">
            <div class="profile-section my-4">
            <div class="d-flex justify-content-center">
                <div class="rounded-circle bg-secondary" style="width: 100px; height: 100px;"></div>
            </div>
            <h3 class="mt-2 poppins-bold">Paolo2</h5>
            </div>
            <nav class="navbar navbar-light">
            <div class="navbar-collapse">
                <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index">
                    <i class="fas fa-home"></i> Hogar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/DashBoard">
                    <i class="fas fa-chart-line"></i> Reporte de Tienda
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/LeaderBoard">
                    <i class="fas fa-chalkboard-teacher"></i> Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">
                    <i class="fas fa-comments"></i> Foro de Discusión
                    </a>
                </li>
                </ul>
            </div>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="main-content flex-grow-1">
            <!-- Header -->
            <div class="header">
                <img class="header-img" src="~/images/oxxo-logo.png" alt="OXXO" style="height: 100px; position: relative; top: 40px; left: 50%; transform: translateX(-50%);" >
            </div>

            <!-- Page Content -->
            <div class="container ">
                <main role="main">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>