html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.logo {
  width: 201px;
  height: 102px;
}

.forgotPassword a {
  text-decoration: none;
  color: #383838;
}
.forgotPassword a:hover {
  text-decoration: underline;
}

.signIn {
  width: 424px;
  height: 510px;
}

.ctaIS, .ctaRC {
  background-color: #ffcc57;
  color: #000000;
  border-color: #ffcc57;
  width: 200px;
}

.ctaIS:hover, .ctaRC:hover {
  background-color: #f2bf47!important;
  border-color: #f2bf47!important;
  color: #000000;
}

.ctaIS:focus, .ctaRC:focus {
  background-color: #f2bf47 !important;
  border-color: #f2bf47 !important;
  color: #000000 !important;
  outline-color:#ffe45cd4 !important;
  box-shadow: 0 0 0 0.25rem #ffe45cd4 !important;
}

.ctaCC {
  background-color: #383838;
  color: #ffffff;
  border-color: #383838;
  width: 200px;
}

.ctaCC:hover {
  background-color: #2a2a2a!important;
  border-color: #2a2a2a!important;
  color: #ffffff;
}

.ctaCC:focus {
  background-color: #2a2a2a !important;
  border-color: #2a2a2a !important;
  color: #2a2a2a !important;
  outline-color:#2a2a2a !important;
  box-shadow: 0 0 0 0.25rem #383838a2 !important;
  color: #ffffff !important;
}

/* ---- Pagina Crear Cuenta ---- */

.crearCuenta-ctaCC {
  background-color: #ffcc57;
  color: #000000;
  border-color: #ffcc57;
  width: 200px;
}

.crearCuenta-ctaCC:hover {
  background-color: #f2bf47!important;
  border-color: #f2bf47!important;
  color: #000000;
}

.crearCuenta-ctaCC:focus {
  background-color: #f2bf47 !important;
  border-color: #f2bf47 !important;
  color: #000000 !important;
  outline-color:#ffe45cd4 !important;
  box-shadow: 0 0 0 0.25rem #ffe45cd4 !important;
}

.crearCuenta-ctaIS {
  background-color: #383838;
  color: #ffffff;
  border-color: #383838;
  width: 200px;
}

.crearCuenta-ctaIS:hover {
  background-color: #2a2a2a!important;
  border-color: #2a2a2a!important;
  color: #ffffff;
}

.crearCuenta-ctaIS:focus {
  background-color: #2a2a2a !important;
  border-color: #2a2a2a !important;
  color: #2a2a2a !important;
  outline-color:#2a2a2a !important;
  box-shadow: 0 0 0 0.25rem #383838a2 !important;
  color: #ffffff !important;
}

.formField:focus {
  border-color: #f2bf47 !important;
  outline:none !important;
  box-shadow: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ctaRC {
  width: 250px;
}

.content {
  height: 100vh;
}

/* Fonts */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  background-color: #f8f8f8;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background: white;
  padding: 20px;
}

.leaderboard-container {
  max-width: 1234px;
  margin: auto;
  border-radius: 14px;
  padding: 20px;
}
.leaderboard-card {
  background: linear-gradient(180deg, white 0%, rgba(254.88, 254.88, 254.88, 0) 100%);
  border-radius: 14px;
  padding: 20px;
}

.first-place {
  margin-top: -40px;
}

.leaderboard-card-tb {
  background: transparent;
  border-radius: 14px;
  margin: 20px;
  max-height: 400px; 
  overflow-y: auto;
  overflow-x: hidden; 
  margin-top: 40px;
}

.leaderboard-card-tb table{
  width: 100%; 
  border-collapse: collapse; 
}

.leaderboard-card-tb table thead {
  position: sticky;
  top: 0px; 
  background-color: #fff; 
  z-index: 1; 
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.rank-badge {
  width: 70px;
  height: 70px;
  margin: 10px auto;
  background: #E9E9E9;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: relative !important;
}

.bronze{
  background-color: transparent;
}

.gold{
  background-color: transparent;
}

.silver{
  background-color: transparent;
}


th {
  background-color: transparent !important;
  text-align: center;
}

td {
  text-align: center;
}

tr {
  margin: 10px;}

.level-badge {
  width: 40px;
  height: 40px;
  background: #ff3131;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: 65px;
}

.username {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.points {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.btn-play {
  background-color: #ffcc57;
  color: #000000;
  border-color: #ffcc57;
  width: 200px;
}

.btn-play:hover {
  background-color: #f2bf47!important;
  border-color: #f2bf47!important;
  color: #000000;

}

.highlight-current-user {
  background-color: #ffcc57 !important; 
  font-weight: bold; 
}


